a {
    text-decoration: none;
    margin-right: 20px;
    display: inline-block;
}

.box {
    border: 2px solid black;
    padding: 20px;
    margin: 30px;
    width: auto;
    border-radius: 10px;
}