.gallery {
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    /* align-items: stretch; */
}

.gallery li,
.gallery a,
.gallery figure {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.gallery li {
    flex: 0 0 300px;
    border: 4px solid #000;
    background-color: white;
    border-radius: 0.2em;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.2);
    padding: 1.5em;
    padding-bottom: 4em;
    position: relative;
}



.gallery figure{
    justify-content: center;
}

.gallery figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #999;
    padding: 1em 1.5em;
    font-style: italic;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
}

