div {
    border: 2px solid black;
    padding: 1em;
    margin-bottom: 1em;
}

.family {
    font-family: Arial, Helvetica, sans-serif;
}

.size {
    font-size: 24px;
}

.weight {
    font-weight: bold;
}

.style {
    font-style: italic;
}

.variant {
 font-variant: small-caps;
}
