.flex-container {
    width: 400px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
}

.flex-item {
    background: #eee;
    padding: 20px;
    border: 2px solid #000;
}

.flex-container:nth-of-type(0) {
    flex-direction: row;
}

 .flex-container:nth-of-type(2) {
    flex-direction: row-reverse;
}

.flex-container:nth-of-type(3) {
    flex-direction: column;
}

.flex-container:nth-of-type(4) {
    flex-direction: column-reverse;
}