body::before {
    padding: 1em 1.5em;
    border-radius: 0.3em;
    background: hwb(210 8% 42% / 0.774);
    color: #fff;
}

@media print {
    body::before {
        display: block;
        content: 'The page is using a print preview or it was printed';
        background: lightcoral;
    }
}



@media screen {
    body::before {
        display: block;
        content: 'The page is being shown on a screen';
    }
}